*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #23232e;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

main {
    background-color: #262631;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.sec {
    position: relative;
    background: #5b5b65;
    padding: 100px;

}

section {
    position: relative;
    height: 85vh;
    background-color: #5b5b65;
    overflow-x: hidden;
}

.sec h1 {
    font-size: 3.5em;
    margin-bottom: 15px;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sec p {
    text-align: justify;
    font-size: 1.6em;
    color: #fff;    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Footer*/

footer {
    width: 100%;
    color: #fff;
    background-color: #23232e;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#footer_content {
    background-color: #5b5b65;
    display: grid;
    padding: 3rem 3.5rem;
}

#footer-contacts {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

#footer-contacts h1 {
    margin-bottom: 0.75rem;
}

#social_media {
    display: flex;
    justify-content: center;
    font-size: 26px;
    gap: 2rem;
    margin-top: 2.5rem;
}

#social_media .footer_link {
    display: grid;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: #eeeae7;
}

#social_media a i{
    font-size: 1.25em;
    color: #23232e;
    opacity: 0.9;
}

#social_media a:hover {
    background-color: #23232e;
    transition: 0.5s;
}

#social_media a:hover i{
    background-color: #eeeae7;
    transition: 0.5s;
}

.footer_list {
    margin: 30px 0;
}

.footer_list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer_list ul li a{
    color: #eeeae7;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer_list ul li a:hover {
    opacity: 1;
}

/* Blog */

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 350px;
    background-color: #5b5b65;
    border: 1px solid #5b5b65;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.blog-text {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: #fff;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
